
<html>
    <head> 
        <title>Welcome</title> 
    </head> 
<body> 
    
    <form action="../controller/InsertController.php" method="POST">
        <table>
            <tr>
                <td>Id</td>
                <td><input type="text" id="id" name="id" /></td>
            </tr>

            <tr>
                <td>First Name</td>
                <td><input type="text" id="name" name="name" /></td>
            </tr>
        </table>
    
        <button type="submit" value="submit">Submit</button>
    
    </form>
    </br></br>
    <Button><a href="view.html">Show</a></Button>


</body> 
</html> 